      <!-- NavBar -->
      <div class = "text-center">

<h1 class = "display-5">Admin Options</h1>
                <a class="btn btn-primary mr-5 mt-5 mb-5" href="/admin">Add/Remove Users</a>
                <a class="btn btn-primary mr-5 mt-5 mb-5" href="#">Modify Members</a>
                <a class="btn btn-primary mt-5 mb-5" href="/gallery">Modify Gallery Page</a>
      
              </div>

      