
<!-- Footer-->
<footer class="footer text-center bg-white">
    <!-- <div class="container"> -->

            <!-- Footer Social Icons-->
            <div class="socialsLinks">
                <a class="btn btn-outline-dark btn-social mx-1 " href="https://www.facebook.com/lonyamship.kyiduk"><i class="fab fa-fw fa-facebook-f"> </i></a>
                <a class="btn btn-outline-dark btn-social mx-1" href="https://www.youtube.com/channel/UCm-XlyipdfDoStx3d222yuQ"><i class="fab fa-youtube"></i></a>
            </div>

    <!-- </div> -->

    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-dark">
        <div class="container"><small>Copyright © Your Website 2020</small></div>
    </div>

</footer>
