<!-- <link href="./css/styles.css" rel="stylesheet" />   -->

<!-- <div class="container-fluid bg-dark sticky-top"> -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1D1D1F;">

    <!-- <div class="container-fluid sticky-top"> -->
       
                <a class = "navbar-brand" href="#">
                <img src="logo.jpg" alt="No Luck!">
            </a>

            <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
              </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-mobile mr-0">

            <li class="nav-item"><a class="nav-link text-light " href="#gallery">Gallery</a></li>
            <li class="nav-item"><a class=" nav-link text-light" href="#about">About Us</a></li>

            <li class="nav-item"><a class="nav-link text-light " href="#">Community Hall</a></li>

            <div class="dropdown">

              <a class="btn dropdown-toggle text-light shadow-none" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Board Members
              </a>

            <div class="dropdown-menu">

              <a class="dropdown-item" href="/members/2020">Current Board Members</a>
            </div>



            </div>
                    


          <!-- Dropdown -->
            <div class="dropdown">
                <a class="btn dropdown-toggle text-light shadow-none" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Our Work
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item " href="/members/sundaySchool">Youth Cultural Development</a>
                  <a class="dropdown-item " href="#">Maney Chokpa</a>
                  <a class="dropdown-item " href="#">Lo Female</a>


                </div>
              </div>



            <li class="nav-item"><a class="nav-link text-light" href="#contact">Contact Us</a></li>


            <!-- DropDown -- Youtube Videos// Soccer Videos // Etc -->
            <li class="nav-item"><a class="nav-link text-light btn-danger rounded" href="/authPage">Videos</a></li>

<li class="nav-item"><a class=" nav-link text-light btn-primary rounded" href="/payment">Donate</a></li>






        </ul>


</div>
</nav>
    <!-- </div> -->
<!-- </div> -->