<!-- <link href="./css/styles.css" rel="stylesheet" />   -->

<div class="container-fluid bg-dark sticky-top">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- <div class="container-fluid collapse navbar-collapse sticky-top justify-content-md-end"> -->
        <ul class="navbar-nav navbar-mobile mr-0">
            <li class="nav-item active mr-5">
                <a class = "navbar-brand" href="#">
                <img src="./images/logo.jpg" alt="No Luck!">
            </a></li>
            <li class="nav-item"><a class="btn btn-dark nav-link text-light ml-5" href="#gallery">Gallery</a></li>
            <li class="nav-item"><a class="btn btn-dark nav-link text-light" href="#about">About Us</a></li>
            <li class="nav-item"><a class="btn btn-dark nav-link text-light" href="#contact">Contact Us</a></li>



<!-- If user not logged in,  -->
<% if(!locals.user){ %>
    <li class="nav-item"><a class="btn btn-dark nav-link text-light" href="/register">Register</a></li>
    <li class="nav-item"><a class="btn btn-dark nav-link text-light" href="/login">Log in</a></li>


<% } else{ %>

  <!--  If admin ... show a different view -->
  <!-- https://griva.in/node.js/2019/12/05/how-to-convert-excel-to-json-with-nodejs/ -->
<% if( user.isAdmin ){ %>

                   <li class="nav-item"><a class="btn btn-dark nav-link text-light" href="/adminHome">Admin Panel</a></li>

                   <li class="nav-item"><a class="btn btn-dark nav-link text-light" href="/logout">Log out</a></li>


            <p class = "welcomeMessage">Hello, <%= user.email %> </p>


    <% }else{%>
        <li class="nav-item"><a class="btn btn-dark nav-link text-light" href="/logout">Log out</a></li>


        <p class="mt-2 float-right text-light">Hello, <%= user.firstName %> </p>

<% } %>

<% } %>
            <li class="nav-item"><a class="btn btn-danger nav-link text-light" href="/authPage">Videos</a></li>

<li class="nav-item"><a class="btn btn-primary nav-link text-light float-right" href="/payment">Donate</a></li>




        </ul>



    <!-- </div> -->
</div>