<nav class="navbar sticky-top navbar-dark bg-primary">
        
    <div class="container-fluid">

    <!-- Logo here -->
        <a class="navbar-brand" href="/">
            <img src="./images/logo.jpg" alt="No Luck!">
          </a>
        <!-- Navbar content -->
       <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white btn btn-info"
            href="#portfolio">Board Members</a>
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white btn btn-info"
            href="#gallery">Gallery</a>

            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white btn btn-info"
            href="/videos/Losar">Losar Videos</a>


    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white btn btn-info"
            href="#contact">Contact</a>
     <a class="btn btn-success" href="/payment">Donate</a>

     
<!-- If user not logged in,  -->
<% if(!locals.user){ %>
    <a class="nav-link navbar-right py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white btn btn-info"
    href="/register">Register</a>

    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white btn btn-info"
        href="/login">Login</a>

<% } else{ %>

  <!--  If admin ... show a different view -->
  <!-- https://griva.in/node.js/2019/12/05/how-to-convert-excel-to-json-with-nodejs/ -->
<% if( user.isAdmin ){ %>
        <p class = "welcomeMessage">Hello, <%= user.email %> </p>
        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white btn btn-info"
        href="/adminHome">Admin Panel</a>
        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white btn btn-info"
            href="/logout">Logout</a>

    <% }else{%>
    <p class = "welcomeMessage">Hello, <%= user.firstName %> </p>
    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-white btn btn-info"
        href="/logout">Logout</a>
<% } %>

<% } %>

    
        </div>
      </nav>