<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <!-- Create a table... populated with all the users in the database... EXCEPT ADMINS
     -->
     <table class="table">
        <thead>
          <tr>
            <th scope="col">User Email</th>
            <th scope="col"><button class="btn btn-success">Make Admin</button></th>
            <th scope="col"><button class="btn btn-danger">Remove</button></th>
        </tr>
        </thead>

        <tbody>
          <tr>
              <!-- How to insert data from mongodb to here... -->
            <td></td>
            <td></td>
            <td></td>
          </tr>
       
        </tbody>
      </table>
</body>
</html>