<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>LONYAMSHIP WEBSITE</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">


</head>
<!-- Navigation-->

<body id="page-top">

    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=394548438190983&autoLogAppEvents=1" nonce="EiObyex9"></script>


    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">

            <button
                class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">

                    <a class="navbar-brand" href="#">
                        <img src="./images/pic1.jpg" id="logoBrand" alt="">
                    </a>


                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            href="#portfolio">Board Members</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            href="#gallery">Gallery</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                            href="#contact">Contact</a></li>


                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                                href="#upload-image">Upload your images</a></li>
                           



                    <!-- <a class="btn btn-default" href="/users/register" role="button">Register</a> -->

                    <!-- <a href="/users/register"   >Register</a> -->
                    <!-- <a href="/users/login"> Login</a> -->

                    <!-- <a class="btn btn-default" href="/users/login" role="button">Login</a> -->

                    <!-- <a class="btn btn-default" href="/google" role="button">Login</a> -->

                    <a href="/google">Sign in with Google</a>

                    


                    <button type="button" class="btn btn-success donate-btn">Donate</button>




                </ul>



            </div>
        </div>
    </nav>



    <section class="page-section" id="frontCover">



        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center text-style-">
            <div class="container d-flex align-items-center flex-column">
                <!-- <h5 class="masthead-heading">About Us </h1> -->

                <!-- Masthead Avatar Image-->
                <!-- Masthead Heading-->
                <div class="divider-custom divider-light">
                </div>
                <!-- 
Insert About Us Section here -->

                <!-- About Section Heading-->


                <h1 class="display-3 text-light">About Lonyamship</h1>

                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <!-- <div class = "row">
         

      <div style="float: left; width: 50%">
          Lo-Nyamship Kyidug USA is a non-profit organization established primarily to help the people of
          Upper Mustang community in the USA and also living in Nepal.        
           -->


                <!-- </div> -->

                <div class="float-container">

                    <div class="float-child">
                        <div class="green">

                            <p class="lead text-light">

                                Lo-Nyamship Kyidug USA is a non-profit organization established primarily to help the
                                people of
                                Upper Mustang community in the USA and also living in Nepal.

                                Its main objective is to preserve Mustang culture and traditions and bringing everyone
                                under one
                                roof to celebrate.
                        </div>
                    </div>

                    <div class="float-child">
                        <div class="blue">
                            <p class="lead text-light">
                                We achieve this by gathering and celebrating our traditions even though we are far from
                                home.
                                The association aims to preserve our culture through community
                                programs that allow people of different age groups to share their knowledge to the
                                coming
                                generation.
                            </p>
                        </div>
                    </div>

                </div>



            </div>


    </section>
    <!--end of front page -->
    </header>
    <!-- MEMBERS Section-->
    <section class="page-section portfolio" id="portfolio">


        <h1 class="text-center text-lg-center mt-4 mb-0 photo-gall-heading text-dark">Members</h1>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card mx-auto border-primary float-left" style="width:150px">
                        <div class="card-body">
                            <h5 class="card-title">Executive Members</h5>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#executiveMembersToggle">
                                See Members
                            </button>


                            <!-- Modal for Executive Members -->
                            <div class="modal fade" id="executiveMembersToggle" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Members</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                                <span aria-hidden="true">&times;</span>
                                        </div>
                                        <div class="modal-body">

                                            <ul class="list-group" id="execMember">




                                            </ul>







                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="col">

                    <div class="card mx-auto border-primary float-left" style="width:150px">
                        <div class="card-body">
                            <h5 class="card-title">Board Members</h5>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#boardMembersToggle">
                                See Members
                            </button>


                            <!-- Modal for Board Members -->
                            <div class="modal fade" id="boardMembersToggle" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Members</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                                <span aria-hidden="true">&times;</span>
                                        </div>
                                        <div class="modal-body">

                                            <ul class="list-group" id="boardMember">




                                            </ul>







                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                </div>
                <!-- New Members Modal -->

                <div class="col">

                    <div class="card mx-auto border-primary float-left" style="width:150px">
                        <div class="card-body">
                            <h5 class="card-title">New Members</h5>
                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#newMembersToggle">
                                See Members
                            </button>


                            <!-- Modal for New Members -->
                            <div class="modal fade" id="newMembersToggle" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Members</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">

                                                <span aria-hidden="true">&times;</span>
                                        </div>
                                        <div class="modal-body">

                                            <ul class="list-group" id="newMember">




                                            </ul>







                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>


    <!-- Gallery Section-->
    <section class="page-section bg-primary text-white mb-0" id="gallery">

        <!-- Page Content -->


        <div class="fluid-container gallery-container">

            <h1 class="text-center text-lg-center mt-4 mb-0 photo-gall-heading text-dark">Photo Gallery</h1>

            <hr class="mt-2 mb-5">


            <div class="tz-gallery">

                <div class="row">


                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug12.jpg">
                                <img class="img-thumbnail" src="images/kyidug12.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>


                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug7.jpg">
                                <img class="img-thumbnail" src="images/kyidug7.jpg" alt="Card image" style="width:100%">
                            </a>

                        </div>
                    </div>



                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug31.jpg">
                                <img class="img-thumbnail" src="images/kyidug31.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>



                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug1.jpg">
                                <img class="img-thumbnail" src="images/kyidug1.jpg" alt="Card image" style="width:100%">
                            </a>

                        </div>
                    </div>


                    <!-- <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="images/kyidug2.jpg">
                        <img class = "img-thumbnail" src="images/kyidug2.jpg" alt="Tuneel">
                    </a>
                   
                </div>
            </div> -->







                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug3.jpg">
                                <img class="img-thumbnail" src="images/kyidug3.jpg" alt="Coast">
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug4.jpg">
                                <img class="img-thumbnail" src="images/kyidug4.jpg" alt="Rails">
                            </a>

                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug5.jpg">
                                <img class="img-thumbnail" src="images/kyidug5.jpg" alt="Traffic">
                            </a>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug6.jpg">
                                <img class="img-thumbnail" src="images/kyidug6.jpg" alt="Card image" style="width:100%">
                            </a>

                        </div>
                    </div>





                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug8.jpg">
                                <img class="img-thumbnail" src="images/kyidug8.jpg" alt="Card image" style="width:100%">
                            </a>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug9.jpg">
                                <img class="img-thumbnail" src="images/kyidug9.jpg" alt="Card image" style="width:100%">
                            </a>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug10.jpg">
                                <img class="img-thumbnail" src="images/kyidug10.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>


                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug11.jpg">
                                <img class="img-thumbnail" src="images/kyidug11.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>


                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug13.jpg">
                                <img class="img-thumbnail" src="images/kyidug13.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug14.jpg">
                                <img class="img-thumbnail" src="images/kyidug14.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug15.jpg">
                                <img class="img-thumbnail" src="images/kyidug15.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>


                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug16.jpg">
                                <img class="img-thumbnail" src="images/kyidug16.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>


                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug17.jpg">
                                <img class="img-thumbnail" src="images/kyidug17.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug18.jpg">
                                <img class="img-thumbnail" src="images/kyidug18.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug19.jpg">
                                <img class="img-thumbnail" src="images/kyidug19.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>


                    <!-- <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="images/kyidug20.jpg">
                        <img class="img-thumbnail" src="images/kyidug20.jpg" alt="Card image" style="width:100%">
                    </a>
                  
                </div>
            </div> -->

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug21.jpg">
                                <img class="img-thumbnail" src="images/kyidug21.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug22.jpg">
                                <img class="img-thumbnail" src="images/kyidug22.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug23.jpg">
                                <img class="img-thumbnail" src="images/kyidug23.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>


                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug24.jpg">
                                <img class="img-thumbnail" src="images/kyidug24.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>


                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug25.jpg">
                                <img class="img-thumbnail" src="images/kyidug25.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>


                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug26.jpg">
                                <img class="img-thumbnail" src="images/kyidug26.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>


                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug27.jpg">
                                <img class="img-thumbnail" src="images/kyidug27.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>



                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug28.jpg">
                                <img class="img-thumbnail" src="images/kyidug28.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>



                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug29.jpg">
                                <img class="img-thumbnail" src="images/kyidug29.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>


                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a class="lightbox" href="images/kyidug30.jpg">
                                <img class="img-thumbnail" src="images/kyidug30.jpg" alt="Card image"
                                    style="width:100%">
                            </a>

                        </div>
                    </div>









                    <!-- <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox" href="images/lomanthang.jpg">
                        <img class = "img-thumbnail" src="images/lomanthang.jpg" alt="Traffic">
                    </a>
                   
                </div>
            
            </div>

        -->

                </div>




            </div>
        </div>

        <!-- /.container -->
    </section>


    <!-- Upload Images Section! -->

    <section class="page-section" id="contact">
        <div class="container-fluid">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-auto">Contact Us!</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->

            <div class="shadow-lg p-3 mb-5 bg-white rounded">

                <p class="suggestions">

                    Please share with us any features you would like to see on this website!

                    <br>
                    Also feel free to contact us about any inquiries.



                </p>


            </div>
        </div>
        </div>
        </div>
    </section>



   





    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i
                class="fa fa-chevron-up"></i></a>
    </div>

    <form name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/taktukgg@gmail.com"
        method="post">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputName">Full Name</label>
                <input type="text" class="form-control" id="inputName" name="fullName" placeholder="Enter Full Name">
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="_replyto" placeholder="Email"
                    required="">
            </div>

        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputSubject">Subject</label>
                <input type="text" class="form-control" id="inputSubject" name="_subject" placeholder="Subject"
                    required="">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" rows="3" name="message"
                    placeholder="Enter Message here..."></textarea>


            </div>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>

    </form>

    <br>


    </div>

    <section class="page-section" id="upload-image">

        <form method="post"  action='http://localhost:5000/upload' 
        enctype="multipart/form-data" >
            <input type='file' name='imageUpload' multiple />
            <input type='submit' value='Upload'/>
          </form>


        </section>
        





    <!-- Form Popup button  -->

    <script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
    <script>
        window.formbutton = window.formbutton || function () {
            (formbutton.q = formbutton.q || []).push(arguments)
        };
        formbutton("create", {
            action: "https://formspree.io/taktukgg@gmail.com"
        });
    </script>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="assets/mail/jqBootstrapValidation.js"></script>
    <script src="assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>




<script>

baguetteBox.run('.tz-gallery');

    window.fbAsyncInit = function() {
      FB.init({
        appId      : '394548438190983',
        cookie     : true,
        xfbml      : true,
        version    : 'v8.0'
      });
        
      FB.AppEvents.logPageView();   
        
    };
  
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>



</body>

<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">

            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-youtube"></i></a>
            </div>

        </div>
    </div>

    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Copyright © Your Website 2020</small></div>
    </div>

</footer>


</html>