<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tibetan School</title>
    <link rel="stylesheet" type="text/css" href="/css/sundaySchool.css">

 <%- include('./partials/headerPlugIns') %>
<%- include('./partials/NavBar') %>
</head>
<body>

  <div class="container-fluid top-section">
 <!-- 100vw image  -->

  <p class="h2 text-center font-weight-bold">Preserving our culture, teaching the youth</p>

    
  <!-- <p class="text-center">Teaching youth the Tibetan Alphabets</p> -->
  <!-- ka kha ga  -->
 
  <!-- <div class="row text-center"> -->
 
 
 <!-- </div> -->
 
  <p class="font-weight-bold text-center">Teaching youth how to play variety of Tibetan Instruments</p>
  <!-- card of instruments -->
 
  <div class="row">
    <div class="col offset-md-3">
        <div class="card ml-5 shadow" style="width: 18rem;">
          
          <img class="card-img-top " src="https://images.is.ed.ac.uk/MediaManager/srvr?mediafile=/Size4/UoEart~2~2/268/0035113c-0009.jpg" alt="Card image cap">
          <div class="card-body">
            <p class="card-text font-weight-bold text-center">Dramyin</p>
            <!-- On hover, show description -->
            <!-- <p class="instrument-back">
 
 
              The dramyin or dranyen is a traditional Himalayan folk music lute with six strings, used primarily as an accompaniment to singing in the Drukpa Buddhist culture and society in Bhutan, as well as in Tibet, Sikkim and Himalayan West Bengal. 
 
            </p> -->
          </div>
  
        </div>
 
 
  </div>
 
 
 
    <div class="col">
      <div class="card ml-5 mt-3 mb-5 shadow" style="width: 18rem;">
        <img class="card-img-top " src="https://images.is.ed.ac.uk/MediaManager/srvr?mediafile=/Size4/UoEart~2~2/268/0035113c-0009.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text font-weight-bold text-center">Yanjin</p>
          <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut eius mollitia eum iure dolor. Consequuntur cum, minima ducimus id eligendi quisquam unde, nostrum iste corporis a nemo distinctio. Harum, sint.</p> -->
 
        </div>
       </div>
 
    </div>
 
 
 
 
  </div>
 
 <section class="cultural-dances">
  <p class="h1 mt-5 text-center text-dark ">Teaching youth cultural dances</p>
  <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad ratione expedita illo asperiores id aut assumenda laboriosam facere odio nam. Earum natus quod ratione assumenda. Blanditiis eius in sed reprehenderit! -->
 <!-- bunch of images of dances -->


 
 
 </section>

 

 </div>



<section>



 <!-- images of past dances-->
 <!-- Or Videos of past dances -->


<!-- Meet the teachers -->

<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" /> -->

<div class="container">
 
     <p class="font-weight-bold h2 text-center mb-5 ml-5">Meet our teachers</p>



 <div class="row text-center">

   <!-- Team item-->
   <div class="col-xl-3 col-sm-6 mb-5">
     <div class="bg-white rounded shadow-sm py-5 px-4 "><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
       <h5 class="mb-0">Manuella Nevoresky</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
       <ul class="social mb-0 list-inline mt-3">
         <li class="list-inline-item"><a href="www.stackoverflow.com" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
         <li class="list-inline-item"><a href="www.stackoverflow.com" class="social-link"><i class="fa fa-twitter"></i></a></li>
         <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
         <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
       </ul>
     </div>
   </div>
   <!-- End-->

   <!-- Team item-->
   <div class="col-xl-3 col-sm-6 mb-5">
     <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
       <h5 class="mb-0">Samuel Hardy</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
       <ul class="social mb-0 list-inline mt-3">
         <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
         <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
         <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
         <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
       </ul>
     </div>
   </div>
   <!-- End-->

   <!-- Team item-->
   <div class="col-xl-3 col-sm-6 mb-5">
     <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
       <h5 class="mb-0">Tom Sunderland</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
       <ul class="social mb-0 list-inline mt-3">
         <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
         <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
         <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
         <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
       </ul>
     </div>
   </div>
   <!-- End-->

   <!-- Team item-->
   <div class="col-xl-3 col-sm-6 mb-5">
     <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
       <h5 class="mb-0">John Tarly</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
       <ul class="social mb-0 list-inline mt-3">
         <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
         <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
         <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
         <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
       </ul>
     </div>
   </div>
   <!-- End-->

   

 </div>
</section>
 
</div>



    <%-include('partials/scripts') %>
</body>

<%-include('partials/footer') %>
<div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

</html>