#checkout-button{
    background: #00b894;
    border: none;
    width: 100%;
    padding: 12px 10px 10px 10px;
    border-radius:50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    color: #ECECEC;
    cursor: pointer;
    
  }

  #checkout-button:hover{
        background: #16A085;
      
  }
