
.navbar-brand {
    width:150px;
    font-size: 24px;
  }
  .navbar-brand img {
    height: 50px;
    /* put value of image height as your need */
    float: left;
    margin-right: 7px;
  }

  .settingsButton:hover{
      background-color: seagreen;
      color:black;
  }