.navbar-brand img {
	height: 50px;
	/* put value of image height as your need */
	float: left;
	margin-right: 7px;
  }
.hidden {
	display: none;
}

img{height:100px;
	vertical-align: middle;
	border-style: none;
  }
  nav{
	font-family: 'Lato', sans-serif;
  }